.about{
    padding: 16px 0px;
    min-height: 100vh;
}
.aboutBox{
    display: block;
    margin-top: 8px;
    width: 70vw;
    border: 2px solid black;
    display: block;
    margin: 0px  auto;
    padding: 8px;
}
.box{
    margin: 2px 0px;
    border: 1px solid black;
}
.box>h1{
    color: rgb(0, 0, 199);
    background-color: rgb(236, 242, 255);
    padding: 2px;
    /* margin: 2px 0px; */
    border: 1px solid black;
}
.box>p{
    padding: 1px 8px;
}
#btn{
    margin: 8px 5px;
    padding: 8px 18px;
    color: white;
    background-color: blue;
    border: 2px solid rgb(0, 255, 208);
    border-radius: 3px;
}

#dark{
    background-color: rgb(4, 9, 56);
    color: white;
}
#light{
    background-color: rgb(255, 255, 255);
    color: black;
}