nav{
    /* background-color: black; */
    background-color: black;
    color: white;
    padding: 4px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* position: fixed; */
}
#appLogo{
    /* width: 10%; */
    justify-self: center;
    align-self: center;
}
#appLogo>a{
    text-decoration: none;
    text-align: center;
}
#appLogo>a>h4{
    border: 2px solid rgb(59, 255, 219);
    padding: 5px 8px;
    margin: 3px;
    color: rgb(77, 253, 144);
    font-weight: bold;
    border-radius: 5px;
    font-size: 1em;
}
#navBtn{
    /* display: inline; */
    margin: auto;
}
#navBtn>ul{
    list-style: none;
    display: inline;
}
#navBtn>ul>li{
    display: inline;
}
#navBtn>ul>li>a{
    border: 2px solid rgb(59, 255, 219);
    padding: 5px 8px;
    margin: 2px 4px;
    color: rgb(77, 253, 144);
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
}
#navBtn>ul>li>a:hover{
    color: rgb(255, 0, 0);
    border-radius: 4px;
}
#connectWalletBtn{
    border: 2px solid rgb(59, 255, 219);
    padding: 5px 8px;
    margin: 2px;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}
#connectWalletBtn:hover{
    cursor: pointer;
    border: 2px solid red;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: rgb(61, 51, 215);
    color: black;
}
.checkbox{
    border: 2px solid rgb(59, 255, 219);
    padding: 5px 8px;
    margin: 2px;
    /* font-weight: bold; */
    border-radius: 5px;
    text-decoration: none;
}
.checkbox>p{
    padding-left: 3px;
    cursor: pointer;
}
.multiThemes{
    width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.multiThemesBtn{
    /* margin: 0px 5px; */
    width: 16%;
    height: 40px;
    border-radius: 100%;
    border: 1px solid white;
}
.bg-blue{
    background-color: blue;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}
.bg-white{
    background-color: white;
}
.Nav-blue{
    background-color: rgb(4, 4, 72);
}
.Nav-red{
    background-color: rgb(128, 5, 5);
}
.Nav-green{
    background-color: rgb(2, 58, 2);
}
.Nav-yellow{
    background-color: rgb(212, 215, 18);
}
.Nav-white{
    background-color: rgb(0, 0, 0);
}