.main{
    width: 100%;
    margin-top: 0px;
    min-height: 100vh;
    padding-top: 30px;
}
#textForm{
    display: block;
    width: 65%;
    margin: auto;
    /* color: white; */
}
#textForm>h1, #textForm>h2{
    padding: 2px 0px 4px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    display: block;
    background-color: rgb(255, 247, 247);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border: 1px solid red;
    width: 90%;
    /* height: 40%;
    display: block; */
}
.btn{
    padding: 8px 18px;
    color: white;
    background-color: blue;
    border: 2px solid rgb(0, 255, 208);
    border-radius: 5px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn:active{
    background-color: red;
}
#dark{
    background-color: rgb(4, 9, 56);
    color: white;
}
#light{
    background-color: rgb(255, 255, 255);
    color: black;
}
#blue{
    background-color: blue;
    color: white;
}
#red{
    background-color: red;
    color: white;
}
#green{
    background-color: green;
    color: white;
}
#yellow{
    background-color: yellow;
    color: white;
}
#white{
    background-color: white;
    color: black;
}
.bk-blue{
    background-color: rgb(221, 221, 236);
}
.bk-red{
    background-color: rgb(253, 220, 220);
}
.bk-green{
    background-color: rgb(223, 248, 223);
}
.bk-yellow{
    background-color: rgb(247, 247, 220);
}
.bk-white{
    background-color: rgb(240, 235, 235);
}